Relatorio_de_incidente.md
/Img
Info_ativo.ps1
Relatorio_Incidente_Ransomware_FS_Profissional.jpeg
Relatorio_Incidente_Ransomware_FS_Profissional.png
Relatorio_Incidente_Ransomware_FS_Profissional.html
Ransomware_FS_Profissional.md
Relatorio_Incidente_Ransomware_FS_Profissional.pdf
Relatorio_Incidente_Ransomware_FS_Profissional.md
